<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @prediction.product %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @prediction.tag %>
</p>

<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', predictions_path %>
